html, body {
  height: 100%;
  margin: 0;
  padding: 0;
}

body {
  font-family: Poppins, sans-serif;
  background: linear-gradient(to top, #0d0d0d, #8fdd8f);
  background-repeat: no-repeat;
  background-attachment: fixed; /* keeps it full-screen even when scrolling */
  background-size: cover;
  color: white;
  margin: 0;
  padding: 20px;
}

.search-container {
  text-align: center;
  margin-bottom: 30px;
}

#searchInput {
  width: 60%;
  padding: 10px;
  border-radius: 8px;
  border: none;
  outline: none;
}

button {
  padding: 10px 15px;
  border: none;
  background-color: crimson;
  color: white;
  border-radius: 8px;
  cursor: pointer;
}

.results-grid {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
  gap: 15px;
}

.card {
  background-color: #1a1a1a;
  border-radius: 10px;
  overflow: hidden;
  text-align: center;
  cursor: pointer;
  transition: transform 0.2s ease;
}

.card:hover {
  transform: scale(1.05);
}

.card img {
  width: 100%;
  height: 300px;
  object-fit: cover;
}

.card-title {
  padding: 10px;
  font-weight: 600;
}
